.float-left{
    float: left;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.box{
    display: inline-block;
}

.col50{
    width:50%;
}

.col60{
    width: 60%;
}

.col40{
    width: 40%;
}

.col33{
    width: calc(100% / 3 - 40px);
}

.mrgn-right{
    margin-right: 40px;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}

.button{
    background-color: #0061FF;
    color: white;
    padding: 5px 10px;
}

.w100{
width: 100vw;
}

.link{
    color: #0061FF;
    text-decoration: underline;
}

/* DEBUG */
.red{
    background-color: red;
}

.h50{
    height: 50px;
}