.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.box{
    display: inline-block;
}

.col70{
    width: 70%;
}

.col60{
    width: 60%;
}

.col50{
    width:50%;
}

.col40{
    width: 40%;
}

.col33{
    width: calc(100% / 3);
}

.col30{
    width: 30%;
}

a{
    text-decoration: none;
    color: black;
}

ul li{
    list-style: none;
}

.button{
    background-color: #0061FF;
    line-height: 30px;
    text-align: center;
}

.white{
    background-color: white;
    border: 1px solid black;
}

.button.white a{
    color: black;
}

.button a{
    color: white;
}

.w100{
width: 100%;
}

.link{
    color: #0061FF;
    text-decoration: underline;
}

.team-box{
    width:50%;
    height: 50%;
    line-height: calc(400px / 2);
}


/* DEBUG */
.bug{
    background-color: red;
}

.h50{
    height: 50px;
}