/* HEADER */

header{
    height: 50px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: white;
}

header .col50{
    padding:0 1%;
}

.col-dx{
    text-align: right;
}

header ul li{
    display: inline-block;
    padding: 0 20px;
}

/* /HEADER */

/* JUMBOTRON */

.jumbotron{
    background-color: #B4D0E7;
}

.jumbo-text{
    width: 90%;
    margin: 0 auto;
}

h1{
    font-size: 68px;
    padding-top: 60px;
}

.jumbo-text .col40 p{
    padding-top: 60px;
    padding-bottom: 30px;
}

.jumbo-text .col40 span{
    display: block;
    padding: 20px 0;
}

.unsub{
    font-size: 13px;
}

.jumbo-text .col40 span i{
    font-size: 35px;
}

.jumbo-text .col60 img{
    width: 100%;
    position: relative;
    bottom: -60px;
    right: 0;
}
/* /JUMBOTRON */

/* PIANI */

.piani{
    margin-top: 60px;
}

.main-title{
    padding: 70px 0 40px 0;
    font-size: 50px;
}

.border{
    border:1px solid gray;
}

.margin5{
    margin-right: 5%;
}

.row{
    padding-bottom: 30px;
}

.plan-title{
    border-bottom: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.plan-text{
    padding-left: 15px;
    padding-right: 15px;
    
}

.col30 .plan-text ul li{
    padding: 7px 0;
}

.price{
    font-weight: bold;
}

.time{
    color: gray;
}

.col30 .plan-text .button{
    margin: 20px 0;
}

.buy-now span{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

h3{
    padding-top: 50px;
    padding-bottom: 20px;
}

.plan-ul{
    min-height: 440px;
}

.plan-ul ul li::before{
    content: "\2713";
    color: green;
    font-weight: bold;
}

.enterprise{
    padding: 20px 50px;
}

/* /PIANI */

/* PARTNER */

.partner{
    padding: 100px 0;
}

.partner-text{
    padding: 40px;
}

.partner-text p{
    padding: 20px 0;
}

/* /PARTNER */
